<footer>
    <div class="bg-dark d-flex justify-content-center">
        <img class="my-2" src="./public/img/logo-entero-jesellop.png" alt="Logo Jesellop" style="width: 200px; height: 100%;" >
    </div>
</footer>