<footer class="mt-5 footer fixed-bottom">
    <div class="bg-dark d-flex justify-content-center">
        <img class="logo-footer my-2" src="/images/logo-entero-jesellop.png" alt="Logo Jesellop">
    </div>
</footer>