<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <a class="navbar-brand mr-1 ml-3" href="#">
        <img src="./public/img/logo-jesellop.png" width="40" height="40" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="form-inline my-2 my-lg-0 input-group col-md-3">
            <input type="search" class="form-control" placeholder="Buscar" aria-label="Search" aria-describedby="button-product">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" type="button" id="button-search"><i class="fas fa-search"></i></button>
                </div>
        </div>
        <p class="text-black-50 mb-0 pb-0">en</p>
        <div class="form-inline my-2 my-lg-0 input-group col-md-3">
            <input type="search" class="form-control" placeholder="España" aria-label="Search" aria-describedby="button-place">
            <div class="input-group-append">
                <button class="btn btn-outline-info" type="button" id="button-search"><i class="fas fa-map-marker-alt"></i></button>
            </div>
        </div>
    </div>
    <form class="form-inline mr-3" action="/sessions/facebook" method="post">
        <button type="submit" class="btn btn-info badge-pill px-3"><i class="fab fa-facebook px-2"></i>Inicia sesion con Facebook</button>
    </form>
</nav>