<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <a class="navbar-brand mr-1 ml-3" href="/items">
        <img src="/images/logo-jesellop.png" width="40" height="40" alt="">
    </a>
    <form action="/items" method="get" class="collapse navbar-collapse" id="search">
        <div class="form-inline my-2 my-lg-0 input-group col-md-4">
            <input name="name" type="search" class="form-control" placeholder="Buscar" value="{{ search.name }}">
            <div class="input-group-append">
                <button class="btn btn-outline-info" type="submit" id="nav-map"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <p class="text-black-50 mb-0 pb-0">en</p>
        <div class="form-inline my-2 my-lg-0 input-group col-md-4">
            <input type="search" class="form-control" placeholder="España" aria-label="Search" aria-describedby="button-place">
            <div class="input-group-append">
                <button class="btn btn-outline-info" type="submit" id="button-search"><i class="fas fa-map-marker-alt"></i></button>
            </div>
        </div>
    </form>
    <div class="mr-4">
        <ul class="menu navbar-nav mr-auto ">
            <li class="nav-item active">
                <a class="nav-link" href="/user/list">Productos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link" href="#">Favoritos</a>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link" href="#">Mensajes</a>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link" href="/user/{{session.id}}/profile">Perfil</a>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link text-info" href="/auth/delete">Cerrar Sesión</a>
            </li>
        </ul>
    </div>
    <a href="/items/create" class=" mr-3 my-2 my-lg-0">
        <button type="button" class="btn btn-info badge-pill px-3"><i class="fas fa-plus-circle mx-1"></i>Subir producto</button>
    </a>
</nav>