 <div class="container mt-4">
     <h5 class="text-info">Mensajes a "user.name" por "item.name"</h5>
     <div class="card p-2">
         <p>Aquí se cargarán los mensajes </p>
     </div>
 </div>

<div class="container mt-3">
    <form class="card p-2">
        <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escriba aqui su mensaje"></textarea>
        </div>
        <button type="submit" class="btn btn-info mx-auto">Enviar</button>
    </form>
</div>