<section>
    
    <div class="container mt-5">
        <div class="row justify-content-md-center">
            <div class="col-12 mb-3">
                <h4 class="text-info">Tus productos {{session.alias}}</h4>
                <div class="mb-2">
                    <a href="/user/list" class="btn btn-outline-secondary">En venta</a>
                    <a href="/user/list-sold" class="btn btn-outline-secondary ml-1 active">Vendidos</a>
                </div>
            </div>
            {{#each sold as |sold| }}
            <div class="card col-6 mb-3">
                <div class="row align-items-center">
                    <img class="img-list m-1" src="{{sold.images.[0]}}" alt="">
                    <div class="ml-4 mt-1">
                        <h3>{{ sold.price }}</h3>
                        <p>{{ sold.name }}</p>
                    </div>
                   
                </div>  
            </div>
            {{/each}}
        </div>   
    </div>
    
</section>