<section>
    
    <div class="container mt-5">
        <div class="row justify-content-md-center">
            <div class="col-12 mb-3">
                <h2>Tus productos Vendidos</h2>
                <a href="/user/list" class="text-info">Productos que tienes en venta actualmente</a>
            </div>
            {{#each sold as |sold| }}
            <div class="card col-12 mb-3">
                <div class="row align-items-center">
                    <img class="img-list m-1" src="http://lorempixel.com/400/200/" alt="">
                    <div class="ml-4 mt-1">
                        <h3>{{ sold.price }}</h3>
                        <p>{{ sold.name }}</p>
                    </div>
                   
                </div>  
            </div>
            {{/each}}
        </div>   
    </div>
    
</section>