
<section>
    
    <div class="container mt-5">
        <div class="row justify-content-md-center">
            <div class="col-12">
                <h5 class="text-info">Tus mensajes</h5>
            </div>
            {{!-- {{#each items as |item| }} --}}
            <div class="card col-12 mb-3">
                <div class="row align-items-center">
                    <img class="img-list m-1" src="{{item.images.[0]}}" alt="">
                    <div class="ml-4 mt-1">
                        <h3>{{ item.price }}50€</h3>
                        <p>{{ item.name }}Pantalla led</p>
                    </div>
                    <div class="row ml-auto mr-3">
                        <button type="button" class="btn btn-info badge-pill px-3"><i class="fas fa-comments px-2"></i>Chat</button>
                    </div>
                </div>  
            </div>
            {{!-- {{/each}} --}}
        </div>   
    </div>
    
</section>

