body {

}

.menu {
  font-family: 'Abel', sans-serif;
}

.card-img {
  width: 100%; 
  height: 250px; 
  object-fit: cover;
  border-radius: 6px;
}

.item-img {
  border-radius: 6px;
}

#img-user-sm {
  width: 75px; 
  height: 75px; 
  object-fit: cover;
  border-radius: 40px;
}

.img-list {
  border-radius: 6px;
  width: 100px; 
  height: 100px;
  object-fit: cover;
}

.logo-footer{
  width: 100px;
  height: 36px;
}

.footer{
  vertical-align: baseline;
}


#map {
  width: 100%;
  height: 200px;
  border-radius: 6px;
  border: 2px solid #c9cfd0;
  
}


.chat-sender{
  font-size: 1.1em;
  margin-left: auto;
  margin-right: 1.3em;
  background-color: aliceblue;
  padding: 0.3em 1.3em;
  border-radius: 30px;
}

.chat-recipient {
  font-size: 1.1em;
  margin-right: auto;
  margin-left: 1.3em;
  background-color: #e1f7ec;
  padding: 0.3em 1.3em;
  border-radius: 30px;
}

.view{
  text-decoration: none !important;
  color: black;  
}

.view:hover {
  text-decoration: none !important;
  color: black;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
  text-decoration: none;
  cursor: pointer;
}

.heart {
  position: absolute;
  margin: 258px 10px 0 190px;
  

}

#clicked-heart {
  background-color: blue

}

#heart-noncliked {
  background-color: red
  
}